<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            textarea {
                margin: 10px 0;
                width: 540px;
                height: 120px;
            }
            .error{color: red;
            }
            .leftnavi { align: right;}
            .main-title { align: center;}
        </style>
    </head>
    <body>
		<nav>
			<a href="/home.html">home</a>|
			<a href="/allposts.html">all posts</a>|
			<a href="/newpost.html">new post</a>|
			<a class= "leftnavi"  href="/login.html">login</a>|
			<a class= "leftnavi"  href="/logout.html">logout</a>|
		</nav>
		{%  block content  %}
		{%  endblock  %}
    </body>
</html>