<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            textarea {
                margin: 10px 0;
                width: 540px;
                height: 120px;
            }
            .error{color: red;
            }
            .main-title{text-align: center;
            }
        </style>
    </head>
    <body>
		<nav>
			<a href="/home/adjimagnan/lc101/build-a-blog/templates/entryshow.html">Main Blog Post</a> |
			<a href="/home/adjimagnan/lc101/build-a-blog/templates/blog.html">Add a Blog Entry</a> |
		</nav>
		{%  block content  %}
		{%  endblock  %}
    </body>
</html>